[package]
name = "hyperlink"
version = "0.1.8"
authors = ["Markus Unterwaditzer <markus-honeypot@unterwaditzer.net>"]
edition = "2018"
license = "MIT"
readme = "README.md"

[dependencies]
structopt = "0.3.20"
anyhow = "1.0.34"
rayon = "1.5.0"
pulldown-cmark = "0.8.0"
blake3 = "0.3.7"
quick-xml = "0.20.0"
jwalk = "0.5.1"
patricia_tree = "0.2.0"
