[package]
name = "hyperlink"
version = "0.1.15"
authors = ["Markus Unterwaditzer <markus-honeypot@unterwaditzer.net>"]
edition = "2018"
license = "MIT"
readme = "README.md"

[dependencies]
structopt = "0.3.21"
anyhow = "1.0.35"
rayon = "1.5.0"
pulldown-cmark = "0.8.0"
blake3 = "0.3.7"

# need https://github.com/tafia/quick-xml/pull/239
quick-xml = { version = "0.20.0", git = "https://github.com/tafia/quick-xml" }
jwalk = "0.5.1"
patricia_tree = "0.3.0"
bumpalo = { version = "3.4.0", features = ["collections"] }

[dev-dependencies]
assert_cmd = "1.0.2"
assert_fs = "1.0.0"
predicates = "1.0.5"
